%backup%~
.aider.chat.history.md
.lsp-session-v1
assets/
auto-save-list/
backup/
bookmarks
eaf/
el-get/
ellama-sessions/
eln-cache/
elpa/
elpy/
init-old.el
org-roam.db
quelpa/
request/
secrets.el
session*
site-lisp/
straight/
templates/
tramp
transient/
tree-sitter/
url/
.aider*
